@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Condensed&family=Staatliches&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #00AEFF;
  font-family: Comfortaa;
  height: 100%;
  overflow-x: hidden;
}

nav {
  width: 100%;
  padding: 15px;
  background-color: #00AEFF;
  -webkit-box-shadow: -1px 3px 13px 0px #0091d4;
          box-shadow: -1px 3px 13px 0px #0091d4;
  text-align: center;
}

nav img {
  width: 100px;
  height: auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

.title {
  font-family: "Staatliches";
  padding: 25px 0 5px;
  text-align: center;
  color: #333;
}

.title h2 {
  letter-spacing: 2px;
}

.hide {
  display: none;
}

.form_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto Condensed";
  margin: 20px 0;
}

.form_group select {
  border: none;
  background-color: #eeeeee;
  padding: 15px 25px;
  font-family: inherit;
  outline: 0;
}

.form_group select:focus {
  border: 2px solid #00AEFF;
}

.form_group select .option {
  font-family: Comfortaa;
  font-size: 45px;
}

.form_group label {
  padding: 5px 0;
  font-family: inherit;
  color: #00AEFF;
  font-size: 1rem;
}

.form_group input {
  border: 2px solid transparent;
  font-family: inherit;
  padding: 15px 25px;
  background-color: #eeeeee;
}

.form_group input:focus {
  border: 2px solid #00AEFF;
}

.action_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  padding: 15px 25px;
  background-color: #00AEFF;
  color: #fff;
  border: 2px solid transparent;
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
  font-family: "Staatliches";
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  letter-spacing: 1px;
  border-radius: 5px;
}

.button:hover, .button:active {
  outline: none;
  border: solid 2px #00AEFF;
  top: 5px;
  background-color: #fff;
  color: #00AEFF;
  letter-spacing: 2px;
}

.out_button {
  background-color: #fff;
  padding: 15px 25px;
  color: #00AEFF;
  border: 2px solid #00AEFF;
  -webkit-transition: 150ms ease-in;
  transition: 150ms ease-in;
  font-family: "Staatliches";
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  letter-spacing: 1px;
  border-radius: 5px;
}

.out_button:hover, .out_button:active {
  outline: none;
  top: 5px;
  background-color: #00AEFF;
  color: #fff;
  letter-spacing: 2px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.transfer_section {
  margin: 50px 0;
  background-color: #fff;
  border-radius: 10px;
}

.transfer_section:hover {
  -webkit-box-shadow: -1px 3px 13px 0px #797979;
          box-shadow: -1px 3px 13px 0px #797979;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.transfer_section .form {
  width: 450px;
  padding: 45px 20px 100px;
}

footer {
  width: 100%;
  padding: 25px 0;
  background-color: #008bcc;
  text-align: center;
  color: #fff;
}

@media (max-width: 521px) {
  .transfer_section {
    width: 80%;
  }
  .transfer_section .form {
    width: 100%;
  }
}

@media (max-width: 466px) {
  .transfer_section {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
  .transfer_section .form {
    width: 100%;
  }
  .transfer_section:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: none;
            transform: none;
  }
  .action_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .action_group button {
    margin: 15px 0;
  }
}
/*# sourceMappingURL=style.css.map */